<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">

    <title>TweetData</title>
  </head>
  <body ng-app="directoryApp">
    <div class="container w-75 p-4 cus-pg">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col">
                    <h1 class="cus-tb_mg-20">TweetData</h1>
                </div>
            </div>
        </div>
        <div  ng-controller="ListingsController">
            <div class="container-fluid">
                <div class="row">
                    <!-- <div class="col-lg cus-tb_mg-20">
                         <button class="btn btn-primary" onclick="">Tweet Data</button>
                         <button class="btn btn-primary" onclick="">User Data</button>
                         </div>
                    -->               </div>
                <div class="row">
                    <div class="col-6">
                        <div id="filter-boxes">
                            <form class="input-group" ng-submit id="searchBar">
                                <input type="text" class="form-control" ng-model="newSearch.city" placeholder="City" />
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="newSearch.state" id="state" name="state">
                                        <option value="AK">Alaska</option>
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DC">District of Columbia</option>
                                        <option value="DE">Delaware</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="IA">Iowa</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MD">Maryland</option>
                                        <option value="ME">Maine</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MT">Montana</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NY">New York</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VA">Virginia</option>
                                        <option value="VT">Vermont</option>
                                        <option value="WA">Washington</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WY">Wyoming</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" ng-click="searchTrending()">Search</button>
                            </form>
                        </div>
                        <div ng-if="searchError" class="alert alert-danger alert-dismissable">
                            {{searchError}}
                        </div>
                    </div>
               </div>
                <hr />
                <div class="row">
                    <div class="col-4">
                        <table class="table table-responsive">
                            <thead class="thead-dark">
                                <th scope="col">#</th>
                                    <th scope="col">Trending topics in {{getLocationName()}}</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="topic in trendingTopics">
                                    <th scope="row">{{$index + 1}}</th>
                                    <td><span ng-click="findTrendingTweets(topic.name)"> {{topic.name}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-8">
                        <div class="row" ng-if="trendingTweets">
                            <canvas
                                tc-chartjs-bar
                                chart-data="myData"
                                chart-options="myOptions"
                                chart-plugins="myPlugins"
                                chart-click="onChartClick(event)"
                            ></canvas>

                            <div ng-repeat="tweet in trendingTweets" class="col-lg" id="more-info-box">
                                <div><img src="{{tweet.user.profile_image_url}}"/> </div>
                                <a href="http://twitter.com/{{tweet.user.screen_name}}" <p>@{{tweet.user.screen_name}}</p></a>
                                <p>{{tweet.text}}</p>
                                <h6>Favs: {{tweet.favorite_count}}</h6>
                                <h5>RTs: {{tweet.retweet_count}}</h6>
                            </div>
                        </div>

                        <div class="row" ng-if="!trendingTweets">
                            <h1>Please click a trending topic</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/tc-angular-chartjs.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/listingController.js"></script>
  </body>
</html>
