body{
	width:100%;
	height:100%;
	padding: 50px;
}
h1 {
	font-size: 50px;
}
img {
	float: left;
	width: 100px;
	height: 100px;
}
#main {
	width: 100%;
	text-align: center;
}
#header {
	width: 25%;
	margin: 0 auto;
	display: inline-block;
}
#body-content {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	height: 500px;
	padding: 100px;
}
label {
	font-size: 20px;
}
#login_form {
	margin: 50px;
	padding: 50px;
	display: inline-block;
}
.label-box {
	width: 125px;
	text-align: left;
}
#main {
	margin: auto;
	width: 100%;
}
#submit_holder {
	margin-top: 50px;
	display: inline-block;
}

#submit_button {
	background: #1DA1F2;
	color: white;
	border-style: none;
	height: 75px;
	width: 300px;
	font: bold 30px arial, sans-serif;
	text-shadow:none;
	text-align: center;
	border-radius: 10px;
}
#submit_button:hover {
	background: #657786;
}