body {
    background-color: #1DA1F2;
}
.cus-pg {
    background-color: #F5F8FA;
}
.cus-tb_mg-20 {
    margin: 20px 0px;
}


#number-trending {
    padding: 5px;
    font-size: 1.5em;
    color: #1DA1F2;
    padding: 5px;
    text-align: center;
    width: 10%;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}
#content-trending {
    width: 85%;
    border: 1px solid #AAB8C2;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    border-radius: 10px;
}

.table-responsive {
    max-height:650px;
}
